/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

a{
    text-decoration: none;
    color: white;
}

.button{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-weight: 500;
}

.button-black{
    background-color: black;
    color: white;
}

.button-blue{
    background-color: rgb(180, 180, 245);
    color: white;
}


h1{
    font-size: 50px;
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 20px;
}

/* reagole header */

header{
    background-image: url(/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-nav{
    margin:  0 10% 5%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-button{
    padding: 8px;
    /* background-color: rgb(218, 165, 32);
    border: dashed 2px; */
}

#main-nav ul{ 
    list-style-type: none;
    width: 50%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* Jumbotron 1 */
#intestazione{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG 
    background-color: rgb(0, 0, 98);*/
}

.jumbo{
    width: 40%;
    height: 300px;
    text-align: center;
    color: white;
    /* background-color: rgb(249, 88, 201);
    border: 1px dashed black; */
}

.jumbo span{
    margin:20px;
}


.arrow::before{
    content: "\2193";
    margin-right: 5px;
    vertical-align: 3px;
}

/* regole main */

/* SEZIONE 2 */
.white-section{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    /* min-height: 400px; */
}

.square-container{
    display: flex;
    width: 65%;
    padding-bottom: 3%;
}

.blue-square{
    flex-grow: 2;
    margin-right: 5%;
    /* DEBUG 
    height: 300px;
    background-color: royalblue;
    border: 1px dashed black;
    */
}

.rose-square{
    flex-grow: 1;
    /* min-height: 300px;
    background-color: pink;
    border: 1px dashed black; */
}

/* Sezione 3 */
.gray-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    background-color: lightgray;
    /* min-height: 400px; */
}

.gray-section .blue-square{
    flex-grow: 1;
}

.gray-section .rose-square{
    flex-grow: 2;
}

/* Sezione 5 */
.green-square{
    width: 60%;
    margin: 3% 0;
    text-align: center;
    /* DEBUG 
    height: 1000px;
    background-color:green;
    border: 1px dashed black;*/
}

.green-square h3{
        margin: 0 auto;
        background-image: url('/img/stars.svg');
        background-repeat: no-repeat;
        font-weight: normal;
        padding: 2% 0;
        width: 50%;
        font-weight: bold;
}

.green-square span{
    background-color: rgb(180, 180, 255);
    color: white;
    margin-bottom: 5%;
}

/* Sezione 6 */
.black-section{
    background-color: rgba(0, 0, 0, 0.95);
    padding: 3%;
    display: flex;
    justify-content: center;
    /* DEBUG
    min-height: 400px; */
}

#red-box{
    width: 14%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* DEBUG
    background-color: brown;
    min-height: 350px;
    border: 1px dashed white; */
}

#red-box div{
    display: flex;
    color: white;
}

#red-box #language::before{
    content: '';
    background-image: url('/img/ita.png');
    background-size: 35px 23.5px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 35px;
    height: 23.5px;
}

#red-box #language::after{
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    top: 0.15em;
    vertical-align: top;
    width: 0.45em;
    transform: rotate(135deg);
}

#red-box h2{
    font-size: 150%;
    color: rgb(180, 180, 245);
}

#language{
    align-items: center;
    gap: 10px;
}

#social-icons{
    gap: 30px;
    font-size: 150%;
}

.acqua-box{
    width: 9%;
    /* DEBUG
    background-color: aquamarine;
    min-height: 350px;
    border: 1px dashed white; */
}

.information{
    list-style-type: none;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 120%;
}


.blue-element{
    color: rgb(180, 180, 245);
}

/* Regole footer */
footer{
    background-color: rgba(0, 0, 0, 0.95);
    min-height: 10px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#footer-section{
    width: 50%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    /* DEBUG
    background-color: aquamarine; */
}

footer div{
    /*DEBUG
     background-color: pink;
    border: 1px dashed black;*/
}